form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

form div{
    display: flex;
    flex-direction: column;
    text-align: center;
}

input, textarea{
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    padding: 10px;
    font-size: 16px;
    background-color: #feac39;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:active{
    background-color: #feac399f;
}
