.contact-heading {
    display: flex;
    justify-content: space-around;
}

.contact-heading p, h1 {
    display: flex;
    justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex: 1;
}

form div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    background-color: #feac39;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:active {
    background-color: #feac399f;
}
