section {
    background-color: #333;
    border-radius: 15px;
    margin: 10px;
}

div { 
    padding: 10px;
}

a {
    color: white;
    text-decoration: underline;
}

.heading-section{
    text-align: center;
    padding: 10px;
}

.gh-steps {
    margin: 10px;
    padding: 10px;
}

.gh-steps, li {
    margin: 10px;
    padding: 10px;
}
