main {
    color: white;
    padding: 0 20px;
}

div { 
    padding: 10px;
}

h1, h2, h3, h4 {
    padding: 10px;
}

a {
    color: white;
    text-decoration: underline;
}

img{
    width: 50vw;
}

footer {
    background-color: #333;
    color: #06a184;
    text-align: center;
    padding: 10px 0;
}

.empty {
    flex: 2;
}