main{
    margin: 10px;
    padding: 50px;
}

img{
    width: 20%;
}

.step{
    text-align: center;
}

.step-with-image{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.step-with-image div{
    padding: 10px;
}


.intro{
    background-color: #333;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
}

@media (max-width: 750px) {
    .step-with-image{
        flex-direction: column;
        align-items: center;
    }

    img{
        width: 50%;
    }
}