body{
    font-family: Arial, sans-serif;
    background-color: #047d67;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    background-color: #333;
    height: 35vh;
    padding: 10px 40px;
}

nav div{
    flex: 1;
    padding: 0;
}

nav div img{
    width: 100%;
}

nav a{
    color: #06a184;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

main{
    color: white;
    padding: 0 20px;
}

h1{
    color: #feac39;
}

h2{
    color: #feac39;
}

a{
    color: #06a184;
    text-decoration: underline;
}

footer{
    background-color: #333;
    color: #06a184;
    text-align: center;
    padding: 10px 0;
}

.empty{
    flex: 2;
}
