body {
    font-family: Arial, sans-serif;
    background-color: #047d67;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

main {
    border-radius: 15px;
    margin: 10px;
}

/* Navigatiebar */

nav {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img {
    width: 200px;
}

.dropbtn {
    background-color: #047d67;
    width: 25vw;
    color: white;
    padding: 16px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.dropbtn:active {
    background-color: #feac39;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}

main {
    color: white;
    flex: 1;
}

h1, h2, h3, h4 {
    padding: 10px;
}

h1 {
    color: #feac39;
}

h2 {
    color: #feac39;
}

a {
    color: #feac39;
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #06a184;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 750px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        padding: 10px 40px;
    }

    /* flex direction van de installatiehandleiding ook veranderen */
}
